body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #1b2f3b;
    display: flex;
    justify-content: center;
    align-items: center;   
    line-height: 0
}

.cell {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: rgb(18, 44, 78);
    border: 1px solid black;

    margin-top: -1px;
    margin-left: -1px;
}

.isActiveSnailPart {
    background-color: yellow;
}

.containsFruit {
    background-color: green;
}